@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.woff);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Bold.woff);
	font-style: normal;
	font-weight: 700;
	font-display: swap;
} 

body {
	margin: 0;
	padding: 0;
 	font-family: Open Sans, sans-serif; 
}

.header {
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
  background-color: #000;
	background-size: cover;
 	position: relative;
 	z-index: 0;
	box-sizing: border-box;
	padding-bottom: 124px;
}

.header:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
 	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
 	z-index: -1;
}

.header__navigation {
	display: flex;
	box-sizing: border-box;
  max-width: 1200px;
	margin: 0 auto;
	padding: 28px 15px 0 15px;
	justify-content: space-between;
	align-items: center;
}

.header__logo-link {
	margin: 0;
	padding: 0;
}

.header__logo {
	display: block;
	width: 179px;
	height: 41px; 
}

.header__menu {
	text-transform: uppercase;
}

.header__menu-list {
	display: flex;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.header__menu-list-item {
	margin-left: 35px;
}

.header__menu-list-item:first-child {
	margin-left: 0;
}

.header__menu-link {
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
}

.header__menu-link:hover {
	text-decoration: underline;
}

.header__menu-burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 23px;
	height: 19px;
	position: absolute;
	top: 53px;
	right: 38px;
}

.header__menu-burger-line {
	width: 23px;
	height: 3px;
	background-color: #fff;
	box-sizing: border-box;
}

.header__title-container {
  margin: 104px 0 0 0;
	display: flex;
 	text-align: center;
	justify-content: center;
}

.header__title {
	padding: 0;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 690px;
	font-size: 45px;
	line-height: 1.66;
	color: #fff;
}

.trends {
	margin-top: 55px;
}

.aside__header-center {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
}

.aside__header-center:after {
	content: '';
	display: block;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	margin: 9px auto 28px;
}

.trends__posts {
	display: flex;
}

.trends__post {
	width: calc(25% - 3px);
	min-height: 319px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eff6f1;
	background-size: cover;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 4px;
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.trends__post:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.6;
	z-index: -1;
}

.trends__post-first {
	background-image: url(../images/trend1.jpg);
	margin-left: 0;
}

.trends__post-second {
	background-image: url(../images/trend2.jpg);
}

.trends__post-third {
	background-image: url(../images/trend3.jpg);
}

.trends__post-fourth {
	background-image: url(../images/trend4.jpg);
}

.trends__post-content {
	box-sizing: border-box;
	border: 3px solid #b59f5b;
	padding: 37px 20px;
}

.trends__tag-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.trends__tag-item {
	margin-right: 20px;
}

.trends__tag-item:last-child {
	margin-right: 0;
}

.trends__tag-link {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #b59f5b;
}

.trends__tag-link:hover {
	text-decoration: underline;
}

.trends__title {
	margin: 11px 0 0 0;
	padding: 0;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
}

.trends__title-link {
	text-decoration: none;
	color: #fff
}

.trends__title-link:hover {
	color: #b59f5b;
}

.content {
	display: flex;
	max-width: 1200px;
	justify-content: space-between;
	margin: 64px auto;
	background-color: #fff;
}

.main {
	box-sizing: border-box;
	width: 778px;
	margin-left: 15px;
}

.main__article {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.main__article:last-child {
	margin-bottom: 0;
}

.main__article-img {
	display: block;
	width: 381px;
	background-color: #eff6f1;
	object-fit: cover;
}

.main__article-content {
	margin-left: 30px;
}

.main__article-tag-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.main__article-tag-item {
	margin-right: 20px;
}

.main__article-tag-item:last-child {
	margin-right: 0;
}

.main__article-tag-link {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #b59f5b;
}

.main__article-tag-link:hover {
	text-decoration: underline;
}

.main__article-title {
	margin: 6px 0 0 0;
	padding: 0;
}

.main__article-title-text {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
}

.main__article-title-link {
	color: #0f0d0e;
	text-decoration: none;
}

.main__article-title-link:hover {
	color: #b59f5b;
}

.main__article-info {
	display: flex;
	margin-top: 26px;
}

.main__article-date {
	font-size: 12px;
	font-weight: 400;
	color: #888888;
}

.main__article-author {
	font-size: 12px;
	font-weight: 700;
	margin-left: 15px;
	color: #000;
}

.main__article-text-container {
	margin-top: 44px;
}

.main__article-text {
	font-size: 15px;
	line-height: 1.5;
	color: #0f0d0e;
}

.aside {
	box-sizing: border-box;
	width: 272px;
	margin-right: 15px ;
}

.aside__latest-news {
	padding-left: 1px;
}

.aside__header-right {
	font-size: 14px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.aside__header-right:after {
	content: "";
	background-color: #b59f5b;
	opacity: 0.4;
	display: block;
	width: 66px;
	height: 3px;
	margin: 12px auto 0 auto;
}

.aside__news {
	display: flex;
	margin-top: 22px;
}

.aside__news:nth-child(2) {
	margin-top: 27px;
}

.aside__news-img {
	display: block;
	width: 70px;
	height: 70px;
	font-size: 10px;
	background-color: #f4f7f6;
	object-fit: cover;
}

.aside__news-content {
	margin-left: 20px;
}

.aside__news-date {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
}

.aside__news-title {
	margin: 6px 0 0 0;
	padding: 0;
}

.aside__news-title-text {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
}

.aside__news-title-link {
	color: #000;
	text-decoration: none;
}

.aside__news-title-link:hover {
	color: #b59f5b;
}

.aside__news-search-form {
	display: flex;
	margin-top: 60px;
	width: 100%;
}

.aside__news-search-field {
	width: calc(100% - 48px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside__news-search-text {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	border: none;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 13px;
	color: #000;
	font-weight: 400;
	font-family: inherit;
}

.aside__news-search-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 48px;
	height: 48px;
	background-color: #b59f5b;
	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 15px;
	border: none;
	margin: 0;
	padding: 0;
}

.aside__news-search-text:focus, .aside__news-search-button:focus {
	outline: 1px solid #b59f5b;
}

.aside__news-search-button:hover {
	background-color: #323232;
}

.aside__subscribe {
	margin: 60px 0 0 0;
	padding: 0 1px;
}

.aside__subscribe-form {
	margin-top: 22px;
}

.aside__subscribe-email {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #f4f7f6;
	border: none;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 13px;
	color: #000;
	font-weight: 400;
	font-family: inherit;
}

.aside__subscribe-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	background-color: #b59f5b;
	border: none;
	margin: 18px 0 0 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-family: inherit;
}

.aside__subscribe-email:focus, .aside__subscribe-button:focus {
	outline: 1px solid #b59f5b;
}

.aside__subscribe-button:hover {
	background-color: #323232;
}

.aside__tags {
	margin: 60px 0 0 0;
	padding: 0 1px;
}

.aside__tag-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-left: 0;
	margin-top: 24px;
	margin-bottom: 0;
}

.aside__tag-item {
	display: block;
	box-sizing: border-box;
	margin-right: 5px;
	margin-bottom: 6px;
	padding-left: 14px;
	padding-right: 14px;
	height: 30px;
	background-color: rgba(244,243,241,0);
	border: 3px solid #eeeeee;
}

.aside__tag-item:last-child {
	margin-right: 0;
}

.aside__tag-item:hover {
	border-color: #b59f5b;
}

.aside__tag-link {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	color: #0f0d0e;
}

.aside__topics {
	margin: 54px 0 0 0;
	padding: 0 1px;
}

.aside__topic-list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
}

.aside__topic-item {
	display: block;
	box-sizing: border-box;
	padding-left: 1px;
	padding-right: 1px;
	height: 47px;
	border-bottom: 1px solid #eeeeee;
	text-align: left;
}

.aside__topic-link {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	line-height: 3.35;
}

.aside__topic-link:hover {
	color: #b59f5b;
}

.aside__topic-count {
	font-size: 12px;
	font-weight: 700;
	vertical-align: super;
	color: #b59f5b;
}

.shop {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 63px auto 0;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.shop__items {
	display: flex;
	justify-content: space-between;

	margin-left: 23px;
	margin-right: 23px;
}

.shop__item {
	display: flex;
	flex-direction: column;
}

.shop__item-img-box {
	width: 300px;
	height: 204px;
}

.shop__item-img {
	background-color: #eff6f1;
}

.shop__item-content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 346px;
	border: 3px solid #b59f5b;
	margin: -32px -22px 0 -22px;
	padding: 49px 19px 22px 19px;
	flex-grow: 1;
}

.shop__item-title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
	margin: 0;
	padding: 0;
}

.shop__item-description {
	font-size: 15px;
	line-height: 1.5;
	color: #0f0d0e;
	font-weight: 400;
	margin-top: 4px;
}

.shop__item-link {
	text-decoration: none;
	color: #b59f5b;
}

.shop__item-link:hover {
	text-decoration: underline;
}

.shop__item-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.shop__item-prices {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.shop__item-price {
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	line-height: 1;
}

.shop__item-price-old {
	font-size: 14px;
	text-decoration: line-through;
	padding-top: 8px;
}

.shop__item-price-new {
	font-size: 20px;
	padding-bottom: 8px;
}

.shop__item-button {
	padding: 19px 30px;
	border: none;
	background-color: #b59f5b;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	line-height: 1;
}

.shop__item-button:hover {
	background-color: #323232;
}

.footer {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	max-width: 1200px;
	justify-content: space-between;
	margin: 64px auto 0;
	padding: 0 15px;
	background-color: #fff;
}

.footer__social {
	width: 100%;
	background-color: #f4f7f6;
}

.footer__social-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.footer__social-icon {
	display: block;
	height: 83px;
	width: 20px;
	margin: 0 auto;
	padding-left: 14px;
	padding-right: 14px;
	background-repeat: no-repeat;
	background-position: center center;
}

.footer__social-icon-dribbble {
	background-image: url(../svg/001-dribbble.svg);
	background-size: 20px 20px;
}

.footer__social-icon-pinterest {
	background-image: url(../svg/002-pinterest.svg);
	background-size: 20px 20px;
}

.footer__social-icon-tumblr {
	background-image: url(../svg/003-tumblr.svg);
	background-size: 20px 20px;
}

.footer__social-icon:hover {
	background-color: #b59f5b;
}

.footer__copyrights {
	display: block;
	width: 100%;
	margin-top: 72px;
	margin-bottom: 41px;
	font-size: 12px;
	color: #999999;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.footer__copyrights:hover {
	text-decoration: underline;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}

.popup-hidden {
	display: none;
}

.popup {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	box-sizing: border-box;
	width: 390px;
	height: 590px;
	padding: 47px 28px;
	background-color: #fff;
}

.popup__header {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0d0e;
}

.popup__header:after {
	content: '';
	display: block;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	margin: 8px auto 22px;
}

.popup__label {
	display: flex;
	flex-direction: column;
}

.popup__question {
	font-size: 13px;
	font-weight: 400;
	color: #000;
}

.popup__label-select {
	box-sizing: border-box;
	width: 100%;
	height: 49px;
	padding-left: 19px;
	padding-right: 14px;
	margin: 6px 0 0;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	opacity: 0.541;
	background-color: #f4f7f6;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: right 19px center;
}

.popup__label-select:focus {
	border: 1px solid #b59f5b;
}

.popup__email {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
}

.popup__radio {
	font-size: 13px;
	font-weight: 400;
	color: #000;
	margin: 6px 0 0;
	display: flex;
	align-items: center;
}

.popup__radio-button {
	width: 18px;
	height: 18px;
	margin: 0 5px 0 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.popup__radio-button:first-child {
	margin-left: 0;
}

.popup__radio-button:checked {
	background-image: url(../svg/form-circle.svg);
}

.popup__content {
	margin-top: 27px;
}

.popup__field-answer {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 130px;
	margin: 0;
	padding: 21px;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	opacity: 0.541;
	background-color: #f4f7f6;
	border: none;
	resize: none;
}

.popup__field-answer:focus {
	border: 1px solid #b59f5b;
}

.popup__button {
	box-sizing: border-box;
	width: 100%;
	margin-top: 29px;
	height: 48px;
	background-color: #b59f5b;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	border: none;
	cursor: pointer;
}

.popup__button:hover {
	background-color: #323232;
}

.popup__close {
	width: 19px;
	height: 19px;
	position: absolute;
	top: -27px;
	right: 0;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	background-image: url(../svg/form-x.svg);
}

@media (min-width: 641px) and (max-width: 1199px) {

	.header {
		padding: 43px 35px 113px;
		background-image: url(../images/banner-bg-tablet.jpg);
	}

	.header__navigation {
		padding: 0;
	}

	.header__logo {
		width: 158px;
		height: 36px;
	}

	.header__menu-list {
		display: none;
	}

	.header__menu-burger {
		display: flex;
	}

	.header__title-container {
		margin-top: 90px;
	}

	.header__title {
		font-size: 40px;
		line-height: 1.375;
		max-width: 611px;
	}

	.trends {
		margin-top: 44px;
	}

	.aside__header-center {
		font-size: 18px;
	}

	.trends__posts {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.trends__post {
		width: calc(50% - 2px);
		box-sizing: border-box;
		min-height: 247px;
	}

	.trends__post-first {
		margin-bottom: 3px;
	}

	.trends__post-second {
		margin-bottom: 3px;
	}

	.trends__post-third {
		margin-left: 0;
	}

	.trends__post-content {
		padding: 28px 30px;
	}

	.trends__title {
		font-size: 17px;
		line-height: 1.3;
		margin-top: 6px;
	}

	.content {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 0;
	}

	.main {
		margin-left: 35px;
	}

	.main__article {
		flex-direction: column;
		margin-bottom: 0;
	}

	.main__article:after {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background-color: #eeeeee;
		margin: 3px auto 41px;
	}

	.main__article:last-child:after {
		display: none;
	} 

	.main__article-img {
		width: 100%;
	}

	.main__article-content {
		margin-top: 15px;
		margin-left: 0;
	}

	.main__article-title-text {
		font-size: 17px;
		line-height: 1.3;
	}

	.main__article-info {
		margin-top: 31px;
	}

	.main__article-text-container {
		margin-top: 27px;
	}

	.main__article-text {
		margin-bottom: 12px;
	}

	.aside {
		margin-left: 35px;
		margin-right: 35px;
	}

	.aside__header-right {
		margin: 0 auto;
	}

	.aside__news {
		margin-top: 27px;
	}

	.aside__news-content {
		margin-left: 15px;
	}

	.aside__news-search-text {
		padding: 0 13px;
	}

	.aside__news-search-button {
		background-size: 18px;
	}

	.aside__subscribe {
		margin-top: 60px;
		padding: 0;
	}

	.aside__subscribe-form {
		margin-top: 23px;
	}

	.aside__tags {
		margin-top: 60px;
		padding: 0;
	}

	.aside__tag-list {
		margin-top: 23px;
	}

	.aside__topics {
		margin-top: 54px;
	}

	.aside__topic-list {
		margin-top: 9px;
	}

	.shop {
		padding: 0 35px;
		margin-top: 49px;
	}

	.shop__items {
		flex-wrap: wrap;
	}

	.shop__item {
		width: calc(50% - 35px);
		align-items: center;
	}

	.shop__item:nth-child(even) {
		margin-left: 70px;
	}

	.shop__item:nth-child(n+3) {
		margin-top: 27px;
	}

	.shop__item-img-box {
		width: 100%;
		height: auto;
	}

	.shop__item-img {
		width: 100%;
	}

	.shop__item-content {
		width: calc(100% + 44px);
		margin-top: -38px;
	}

	.shop__item-title {
		font-size: 17px;
	}

	.footer {
		padding-left: 35px;
		padding-right: 35px;
		margin-top: 52px;
	}

	.footer__copyrights {
		margin-top: 45px;
	}

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

	.trends__posts {
		flex-wrap: nowrap;
	}

	.trends__post {
		width: calc(25% - 3px);
	}

	.trends__post-first {
		margin-bottom: 0;
	}

	.trends__post-second {
		margin-bottom: 0;
	}

	.trends__post-third {
		margin-left: 4px;
	}

}

@media (max-width: 640px) {

	.header {
		padding: 196px 15px 210px;
		background-image: url(../images/banner-mobile.jpg);
	}

	.header__navigation {
		display: block;
	}

	.header__logo {
		width: 269px;
		height: 59px;
		margin: 0 auto;
	}

	.header__menu {
		display: none;
	}

	.header__menu-burger {
		display: flex;
		top: 31px;
		right: 17px;
	}

	.header__title-container {
		margin-top: 37px;
	}

	.header__title {
		font-size: 26px;
		line-height: 1.38;
	}

	.trends {
		margin-top: 40px;
	}

	.aside__header-center {
		font-size: 16px;
	}

	.aside__header-center:after {
		margin-bottom: 25px;
	}

	.trends__posts {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.trends__post {
		width: 100%;
		min-height: 216px;
	}

	.trends__post-first {
		margin-bottom: 3px;
	}

	.trends__post-second {
		margin-left: 0;
		margin-bottom: 3px;
	}

	.trends__post-third {
		margin-left: 0;
		margin-bottom: 3px;
	}

	.trends__post-fourth {
		margin-left: 0;
	}

	.trends__post-content {
		padding: 24px 15px;
	}

	.trends__title {
		font-size: 16px;
		line-height: 1.25;
	}

	.content {
		flex-direction: column;
		width: 100%;
		margin: 42px auto 0;
	}

	.main {
		margin-left: 15px;
		margin-right: 15px;
		width: calc(100% - 30px);
	}

	.main__article {
		flex-direction: column;
		margin-bottom: 0;
	}

	.main__article:after {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background-color: #eeeeee;
		margin: 9px auto 33px;
	}

	.main__article:last-child:after {
		margin-bottom: 0;
	}

	.main__article-img {
		width: 100%;
	}

	.main__article-content {
		margin-top: 15px;
		margin-left: 0;
	}

	.main__article-title-text {
		font-size: 16px;
		line-height: 1.25;
	}

	.main__article-info {
		margin-top: 16px;
	}

	.main__article-text-container {
		margin-top: 15px;
	}

	.main__article-text {
		margin-bottom: 12px;
		font-size: 14px;
		line-height: 1.4;
	}

	.aside {
		margin-top: 45px;
		margin-left: 15px;
		width: calc(100% - 30px);
	}

	.aside__header-right {
		font-size: 16px;
		margin: 0 auto;
	}

	.aside-news {
		margin-top: 27px;
	}

	.aside__subscribe {
		margin-top: 39px;
	}

	.aside__tags {
		margin-top: 40px;
	}

	.aside__tag-item {
		padding: 0 13px;
	}

	.aside__topics {
		margin-top: 35px;
		padding: 0;
	}

	.aside__topic-link {
		line-height: 3.275;
	}

	.shop {
		margin-top: 39px;
	}

	.shop__items {
		flex-wrap: wrap;
	}

	.shop__item {
		width: 100%;
		align-items: center;
	}

	.shop__item:nth-child(n+2) {
		margin-top: 26px;
	}
	
	.shop__item-img-box {
/*		width: 285px;*/
		width: 100%;
		height: auto;
	}

	.shop__item-img {
		width: 100%;
	}

	.shop__item-content {
		width: calc(100% + 44px);
		padding: 47px 18px 23px 14px;
}

	.shop__item-title {
		font-size: 17px;
	}

	.shop__item-footer {
		margin-top: 16px;
		padding-right: 2px;
	}

	.footer {
		margin-top: 44px;
	}

	.footer__copyrights {
		margin-top: 46px;
	}

	.popup {
		padding: 25px 23px;
		width: calc(100% - 30px);
		max-width: 330px;
		height: calc(100% - 70px);
		max-height: 545px;
	}

	.popup__header {
		font-size: 16px;
	}

	.popup__header:after {
		margin-bottom: 22px;
	}

	.popup__label-select {
		margin-top: 6px;
	}

	.popup__email {
		margin-top: 28px;
	}

	.popup__radio-button {
		width: 17px;
		height: 17px;
		border-radius: 8px;
	}

	.popup__content {
		margin-top: 33px;
	}

	.popup__field-answer {
		margin-top: 2px;
	}

	.popup__button {
		margin-top: 30px;
	}

	.popup__close {
		width: 27px;
		height: 27px;
		top: -33px;
	}

}

@media (max-width: 640px) and (orientation: landscape) {

	.trends__post {
		width: calc(50% - 2px);
		box-sizing: border-box;
		min-height: 247px;
}

	.trends__post-first {
		margin-bottom: 3px;
	}

	.trends__post-second {
		margin-left: 4px;
		margin-bottom: 3px;
	}

	.trends__post-third {
		margin-left: 0;
		margin-bottom: 0;
	}

	.trends__post-fourth {
		margin-left: 4px;
	}

}
